<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Choose Server | Project XYZ</title>
 <link rel="stylesheet" type="text/css" href="../..//stylesheets/style.css">
</head>
<body>
<div class="container">
    <span><h2>Please <span id="user"><%= username %></span> select the technique to request the server</h2></span>
    <br/>
    <div class="block"><a href="/appws"><img src="http://www.partialjs.com/img/128-websocket.png" width="280px" height="280px"/></a></div>
    <div class="block"><a href="/appajax"><img src="http://www.globalemployees.com/images/ajax_logo.png" width="280px" height="280px"/></a></div>
</div>
</body>
</html>