<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Request with WebSocket | Project XYZ</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<link href="../..//stylesheets/style.css" rel="stylesheet">
	<% include ../partials/websockethead %>
</head>

<body>
	
	<% include ../partials/appformbody %>
	
</body>
</html>